<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfm.servicesystem.mapper.AreaMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        editor,
        cur_orgid,
        insert_dt,
        update_dt,
        record_ver,
        parent_id, levels, encode, name, simplespelling, sort_order, enabledmark, del_flag, description
    </sql>

    <select id="getAreaById" resultType="com.wfm.servicesystem.model.vo.area.AreaQueryVo">
        select
        <include refid="Base_Column_List"/>
        from s_area where id = #{id}
    </select>

    <select id="getAreaPageList" resultType="com.wfm.servicesystem.model.vo.area.AreaQueryVo">
        select
        <include refid="Base_Column_List"/>
        from s_area
    </select>
</mapper>
